---
import MenuItem from "@/components/ui/MenuItem.astro";

import { currentYear, navigation, social, whatsAppLink } from "@/data";
---

<footer class="bg-stone-900 py-16">
  <div class="container mx-auto space-y-16 px-8">
    <div class="flex flex-col items-center justify-between gap-16 md:flex-row">
      <div class="space-y-8 px-4">
        <h3 class="text-3xl xl:text-4xl">
          Vamos construir projetos incríveis?
        </h3>

        <p class="text-3xl">
          Me <a class="link-success link" href={whatsAppLink} target="_blank">
            manda um oi!
          </a>
        </p>
      </div>

      <div class="w-full max-w-xs space-y-8 px-4">
        <ul class="menu px-1">
          {navigation.map((item) => <MenuItem {...item}>{item.name}</MenuItem>)}
        </ul>
      </div>
    </div>

    <div
      class="flex flex-col flex-wrap items-center gap-4 lg:flex-row lg:text-center"
    >
      <h1 class="ml-4 whitespace-nowrap font-sans text-3xl">
        <strong>Diego</strong>
         Santos
      </h1>

      <p class="flex-1 pt-2 text-stone-400">
        {currentYear} &copy; Todos os direitos reservados
      </p>

      <ul class="menu menu-horizontal px-1">
        {
          social.map((item) => (
            <MenuItem {...item}>
              <span class="hidden md:inline">{item.name}</span>
            </MenuItem>
          ))
        }
      </ul>
    </div>
  </div>
</footer>
