---
import TechIcon from "../ui/TechIcon.astro";

const techList = [
  {
    position: "left-1/3 top-[4%]",
    size: 16,
    color: "bg-green-700",
    icon: "mdi:vuejs",
    title: "Vue.js",
  },
  {
    position: "left-2/3 top-[4%]",
    size: 16,
    color: "bg-orange-600",
    icon: "simple-icons:astro",
    title: "Astro",
  },
  {
    position: "left-2/4 top-20",
    size: 24,
    color: "bg-green-600",
    icon: "simple-icons:spring",
    title: "Spring Framework",
  },
  {
    position: "left-3/4 top-1/4",
    size: 24,
    color: "bg-amber-600",
    icon: "fa6-brands:aws",
    title: "Amazon Web Services",
  },
  {
    position: "left-1/4 top-1/4",
    size: 24,
    color: "bg-yellow-500",
    icon: "fa-brands:js",
    title: "JavaScript",
  },
  {
    position: "left-[97%] top-1/3",
    size: 16,
    color: "bg-red-600",
    icon: "mdi:angular",
    title: "Angular",
  },
  {
    position: "left-[4%] top-1/3",
    size: 16,
    color: "bg-sky-400",
    icon: "mdi:react",
    title: "React",
  },
  {
    position: "left-20 top-2/4",
    size: 24,
    color: "bg-blue-700",
    icon: "cib:typescript",
    title: "TypeScript",
  },
  {
    position: "left-[83%] top-2/4",
    size: 24,
    color: "bg-green-800",
    icon: "fa-brands:node",
    title: "Node.js",
  },
  {
    position: "left-2/4 top-2/4",
    size: 40,
    color: "bg-red-900",
    icon: "fa-brands:java",
    title: "Java",
  },
  {
    position: "left-[4%] top-2/3",
    size: 16,
    color: "bg-green-500",
    icon: "devicon-plain:mongodb-wordmark",
    title: "MongoDB",
  },
  {
    position: "left-[97%] top-2/3",
    size: 16,
    color: "bg-orange-600",
    icon: "simple-icons:rabbitmq",
    title: "RabbitMQ",
  },
  {
    position: "left-1/4 top-3/4",
    size: 24,
    color: "bg-orange-600",
    icon: "fa6-brands:git-alt",
    title: "GIT",
  },
  {
    position: "left-3/4 top-3/4",
    size: 24,
    color: "bg-sky-600",
    icon: "cib:postgresql",
    title: "Postgres",
  },
  {
    position: "left-2/4 top-[83%]",
    size: 24,
    color: "bg-stone-500",
    icon: "mdi:api",
    title: "REST API",
  },
  {
    position: "left-1/3 top-[96%]",
    size: 16,
    color: "bg-blue-700",
    icon: "mdi:kubernetes",
    title: "kubernetes",
  },
  {
    position: "left-2/3 top-[96%]",
    size: 16,
    color: "bg-sky-400",
    icon: "mdi:docker",
    title: "Docker",
  },
];
---

<div class="relative aspect-square h-full w-full">
  <div class="h-full w-full rounded-full bg-stone-900 shadow-lg"></div>
  {techList.map((tech) => <TechIcon {...tech} />)}
  <!-- bug fix: force tailwind generate these classes -->
  <!-- <div class="h-40 w-40"></div>
  <div class="h-32 w-32"></div>
  <div class="h-24 w-24"></div>
  <div class="h-16 w-16"></div>
  <div class="h-8 w-8"></div> -->
</div>
