---
import TechIcon from "@/components/ui/TechIcon.astro";

import { techList } from "@/data";
---

<div
  class="group relative aspect-square h-full w-full rounded-full hover:[animation-play-state:paused] md:motion-safe:animate-spin-slow"
>
  <div class="h-full w-full rounded-full bg-stone-900/50 shadow-lg"></div>
  {techList.map((tech) => <TechIcon {...tech} />)}
  <!-- bug fix: force tailwind generate these classes -->
  <!-- <div class="h-32 w-32 sm:h-40 sm:w-40"></div>
  <div class="h-20 w-20 sm:h-24 sm:w-24"></div>
  <div class="h-12 w-12 sm:h-16 sm:w-16"></div>-->
</div>
