---
import Layout from "@/layouts/Layout.astro";

import Intro from "@/components/layout/Intro.astro";
import TechCloud from "@/components/layout/TechCloud.astro";
---

<Layout title="Diego Francklin Martins dos Santos">
  <main class="flex min-h-[100dvh] flex-col">
    <div
      class="container mx-auto flex flex-1 flex-col items-center gap-16 px-8 py-16 lg:flex-row"
    >
      <div class="mx-auto max-w-xl flex-1 space-y-8">
        <Intro />
      </div>

      <div
        class="mx-auto flex w-full max-w-lg flex-1 items-center justify-center"
      >
        <TechCloud />
      </div>
    </div>
  </main>
</Layout>
