---
import Footer from "@/components/layout/Footer.astro";
import Header from "@/components/layout/Header.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="pt-br" class="scroll-smooth bg-stone-800">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body class="overflow-x-hidden bg-stone-800 font-mono text-white">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
